@charset "UTF-8";

	@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
	}
	
	*{
	font-family: 'TheJamsil5Bold';
	}
	
	table,tr,th,td{
	border : 1px solid #EEEEEE;
	padding : 10px;
	text-align:center;
	border-collapse:collapse;
	border-spacing:0;
	font-size: 11px;
	} 
	
	th{
		background-color: rgb(72, 183, 89) ; 
		color:white;
	}
	table{
		width: 100%;
	}
	
	tr:hover{
		background-color: rgb(192, 192, 192); 
		cursor:pointer;
	}